@using TravelEquipmentRenting.Core.Models
@model ProductMineViewModel

<div class="card col-4 m-3" style="width: 20rem;">
            <img class="card-img-top mt-2" style="width: 18rem;"
             src="@Model.ImageUrl" alt="Book Image">
            <div class="card-body">
                <h5 class="card-title mt-1">@Model.Name</h5>
                <p class="mb-0">
                    <strong>Description:</strong> @Model.Description
                </p>
                <p class="mb-0">
                    <strong>Is Rented:</strong> @Model.IsAvailable
                </p>
                <p class="mb-0">
                    <strong>Status:</strong> @Model.IsApproved
                </p>
                <p>
                    <strong>Categories: </strong> 
                    @if (Model.Categories.Any())
                    {
                        @Model.CategoriesAsString
                    }
                    else
                    {
                        <text>No categories</text>
                    }
                </p>
            </div>

            <form class="input-group-sm" asp-controller="Products" asp-action="Details" method="get">
                <input type="submit" value="Edit" class="fs-6 btn btn-success mb-3 p-2" />
                <input type="hidden" name="id" value="@Model.Id" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
        </div>