@using WebApp2022.Core.Models.Announcements
@model AnnouncementDetailsViewModel

<div class="col-4 m-3" style="width: 20rem;">
    <img class="card-img-top mt-2" style="width: 18rem;"
         src="@Model.ImageUrl" alt="Pet Image">
    <div class="card-body">

        <h5 class="card-title mt-1">@Model.Name</h5>
        <p class="mb-0">
            <strong>Description:</strong> @Model.Description
        </p>
        <p><strong>Type: </strong> @Model.Type</p>
        <p><strong>Owner Name: </strong> <a asp-action="Details" asp-controller="Account" asp-route-id="@Model.OwnerId">@Model.OwnerName</a></p>
        <p><strong>Date Starting: </strong> @Model.DateStartBabysitting</p>
        <p><strong>Date Ending: </strong> @Model.DateEndBabysitting</p>
        <p><strong>Heigth: </strong> @Model.Heigth</p>
        <p><strong>Weigth: </strong> @Model.Weigth</p>
        <p><strong>Age: </strong> @Model.Age</p>
        <p><strong>Requirements: </strong> @Model.Requirements</p>
    </div>

    <form class="input-group-sm" asp-route-id="@Model.Id" asp-controller="Requests" asp-action="Add" method="post">
        <input type="submit" value="Apply" class="fs-6 btn btn-success mb-3 p-2" />
    </form>
</div>
